# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage
/cypress/videos/
/cypress/screenshots/

# Production
/dist
/dist-ssr
/build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.test.local
.env.development
.env.production
# Misc
.DS_Store
*.pem
*.local
.cache
.temp

# Debug
.debug

# TinyMCE specific
/public/tinymce/

# Vite
.vite/
vite.config.js.timestamp-*